@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@1,200&display=swap');

body {
    text-align: center;
    font-size: 2em;
    font-family: 'Source Serif Pro', serif;
}

.food {
    margin: 5%;
    padding: 5%;
    border-style: double;
}

.desktop, .mobile {
    display: none;
}

@media (orientation:portrait) {
    body {
        background-color: darkgray;
        color: black;
    }
    .items {
        display: flex;
        align-content: space-around;
        flex-direction: column;
    }
    .mobile {
        display: inline-block;
    }
}

@media (orientation:landscape) {
    body {
        background-color: antiquewhite;
        color: grey;
    }
    .items {
        display: flex;
        align-content: space-between;
        flex-direction: row;
    }
    .desktop {
        display: inline-block;
        margin: 0;
    }
}