body {
    text-align: center;
    font-size: 2em;
    font-family: 'Source Serif Pro', serif;
}

.food {
    margin: 5%;
    padding: 5%;
    border-style: double;
}

@media (orientation:portrait) {
    body {
        background-color: black;
        color: grey;
    }
    .items {
        display: flex;
        align-content: space-around;
        flex-direction: column;
    }
}

@media (orientation:landscape) {
    body {
        background-color: white;
        color: black;
    }
    .items {
        display: flex;
        align-content: space-between;
        flex-direction: row;
    }
}